{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <p class="lead">
        {{ if not (isset .Params "hide_date" )}}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
            {{ .Date.Format "2006-01-02" }}
        </time>
        {{ end }}
        {{ if (isset .Params "author") }}
        {{ .Params.author }}
        {{ end }}
    </p>

    {{ .Content }}

    {{- if (isset .Params "files" ) }}
        {{ partial "file_list.html" . }}
    {{- end }}
{{ end }}