{{ define "main" }}
{{ $baseurl := .Site.BaseURL }}
<div>
    <h3>{{ .Title }}</h3>
    <ul class="list-group list-group-flush">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms }}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ $baseurl }}/{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a>
            <span class="badge badge-primary bade-pill">{{ len $value }}</span>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}