<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

    <button type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.BaseURL }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.BaseURL }}/about">About</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.BaseURL }}/tags">Tags</a>
            </li>
        </ul>
    </div>
</nav>