<div>
    <h3>
        <a href="{{ .URL }}">{{ .Title }}</a>
    </h3>
    <p class="lead">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                {{ .Date.Format "2006-01-02" }}
        </time>
    </p>
    <p>
        {{ .Summary }}
    </p>
    {{ if .Truncated }}
    <div>
        <a href="{{ .RelPermalink }}">Read more...</a>
    </div>
    {{ end }}
</div>