{{ define "main" }}
<div class="jumbotron">
    <h1>Page not found</h1>
    <p class="lead">I'm not sure why you're here, but you should go to a page that exists.</p>
    <a class="btn btn-lg btn-primary" href="/" role="button">Home</a>
</div>
{{ end }}